.one_to_ten_page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  font-size: 20px;
  user-select: none;
  margin: 40px 0;
}

.move_left,
.move_right {
  font-size: 3rem;
  font-weight: 600;
  margin-top: -8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.move_left:hover,
.move_right:hover {
  color: #000000;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.Number {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.Number.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  background-color: #000000;
  animation: underline 0.3s ease forwards;
}

@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.dot {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.6;
  margin-top: -8px;
}
