.products-section {
  padding: 3rem 2rem;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

.favorite-title {
  font-size: 2rem;
  color: #d13e82;
  margin-bottom: 2rem;
  text-align: left;
}

.favorites-row {
  display: flex;
  flex-direction: column;
  /* each product in a row */
  gap: 1.5rem;
}

.product-card-row {
  display: flex;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

.product-card-row:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.product-img-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  cursor: pointer;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card-row:hover .product-img {
  transform: scale(1.05);
}

.product-info {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.product-brand {
  font-size: 1rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: #d13e82;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.95rem;
  color: #777;
  margin-bottom: 1rem;
}

.remove_favorite {
  padding: 0.5rem 40%;
  /* background: pink; */
  background: linear-gradient(135deg, #d13e82, #fcb8c2);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
text-decoration: underline;
}
.fa-trash{
  color: white;
  font-size: 1.5rem;
}

.notification {
  position: fixed;
  top: 80px;
  right: 30px;
  background-color: #ff0011;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
  0%, 80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* .add_to_card_and_remove{
  align-items: center;
  justify-content: center;
  background: pink;
  width: 100%;
  height: 3rem; 
} */
