/* import MessageButton from "../../Components/MessageButton/MessageButton"; */

/* MessageButton.css */
.message-button-wrapper{
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    max-height: 4rem;
    max-width: 4rem;
    right: 3rem;
    bottom: 4rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(230, 122, 198);
}
.message-button-wrapper:hover{
    
    transition: 0s;
    width: 4rem;
    background-color: rgb(205, 108, 176);
}
.message-button-wrapper:active{
    transition: 0.03s;
    background-color: rgb(248, 98, 203);
}
.fa-message{
    padding:0;
    color: white;
    font-size: 2rem;
}