.message-button-wrapper{
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3rem;
    bottom: 4rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(230, 122, 198);
}
.fa-message{
    color: white;
    font-size: 2rem;
}