.image_wrapper{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}
.image_three{
    margin: 1rem 2rem;
    width: 40rem;
    height: 40rem;
    border-radius: 10px;
}
.plus_minus_wrapper{
    display: flex;   
    flex-direction: row;
}
/* ladsfj    */
.image_and_price_amount{
    display: flex;
    flex-direction: row;
}
.price_and_amount_wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 8rem;
}
.font_word{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
}
.font_word.hydrating{
    font: 400 3rem arial;
}
.font_word.plus_minus{
    padding: 5px 10px;
}
.font_word.plus_minus.k{
    cursor: pointer;
}
.skin_me{
    margin-bottom: 4rem;
    color: #EB61A2;
    font: 600 2.5rem arial;
}
.plus_minus_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center; /* horizontally center children */
    align-items: center;     /* vertically center children */
    border: 2px solid #EB61A1;
    width: 15rem;            /* optional: set width of container */
    height: 4rem;               /* optional: set height */
    gap: 1rem; 
    border-radius: 30rem;
    color: #EB61A1;
    user-select: none;
}
.buy_now_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center; /* horizontally center children */
    align-items: center;
    background: #EB61A1;     /* vertically center children */
    width: 15rem;            /* optional: set width of container */
    height: 4rem;  
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 20rem;
    user-select: none;
}
.buy_now_wrapper:hover{
    transition: 0.3s;
    background: #ff67ae;     /* vertically center children */
}
.buy_now_wrapper:active{
    transition: 0.03s;
    background: #EB61A1;     /* vertically center children */
}
.buy_now{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
.lorem{
    margin-top: 0.5rem;
    width: 20rem;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.plus_minus.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.buy-popup {

  position: fixed;
  top: 120px;
  right: 30px;
  background-color: #ff0011;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}
@media screen and (max-width: 1190px){
    .image_wrapper{
    scale: 0.8;
    margin-top: -5rem;
}

}
@media screen and (max-width: 840px){
    .image_and_price_amount{
        scale: 0.9;
        margin-top: -5rem;
    }
}


/* 1190px */