
.sort_by{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #363636;
  position: absolute;
  top: 11rem;
  left: 4rem;
}
.inside_sort_by{
  padding: 2rem 2rem;
  border-radius: 10px;
  background: #000;
  position: absolute;
  font-size: 2rem;
  z-index: 999;
  top: 13rem;
  color: rgb(228, 228, 228);
  left: 4rem;
}
.product-title{
  display: flex;
  margin-top: 10rem;
  margin-bottom: -4rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #d13e82;
}

.products_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  z-index: 10;
}
.products_grid.with_less_margin_top {
  margin-top: -1rem;
  z-index: 10;
}
.product_skincare {
  font-size: 25px;
  font-weight: 400;
  color: rgb(144, 144, 144);
  font-family: Arial, Helvetica, sans-serif;
}
.product_use_to_protect {
  text-align: center;
  margin: 0 3rem;
  padding: 0 1rem;
  font-size: 21px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.product_price {
  font-size: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}